#hero {
  margin: 32px 0;
  .hero {
    height: 455px;
    background: url("../../assets/images/imgs/hero-bg.png") no-repeat center
      right;
    padding: 48px;
    border-radius: 24px;
    .hero__text {
      max-width: 650px;
      h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: -0.05em;
        color: #1f2533;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #1f2533;
        margin: 12px 0 21px;
      }
      .hero__price {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .hero__btn-wrapper {
        display: flex;
        gap: 12px;
        height: 50px;
        margin-top: 25px;
        button {
          padding: 11px 33px;
          outline: none;
          border-radius: 10px;
          border: none;
          font-size: 16px;
          font-weight: 500;
          line-height: 28.51px;
          letter-spacing: -0.035em;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:active {
            transform: scale(0.93);
          }
        }
        .first__btn {
          background: #359740;
          color: #fff;
          &:hover {
            color: #359740;
            background: #fff;
          }
        }
        .second__btn {
          color: #359740;
          background: #fff;
          &:hover {
            color: #fff;
            background: #359740;
          }
        }
      }
    }
  }
}
