.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 16px;
  gap: 93px;
  .about-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 65px;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 27px;
      h2 {
        color: rgb(31, 37, 51);
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        text-align: left;
        max-width: 500px;
      }
      p {
        color: rgb(31, 37, 51);
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        max-width: 521px;
      }
    }
  }
}
