#banner-section {
  margin-bottom: 40px;
  .banner {
    padding: 23px 0;
    width: 100%;
    background: url("../../assets/images/imgs/banner-bg.png") no-repeat center;
    border-radius: 12px;
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 31.5px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #1f2533;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 28.51px;
      letter-spacing: -0.035em;
      text-align: center;
      color: #70737c;
    }
  }
  .products__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 54px;
      letter-spacing: -0.05em;
      color: #1f2533;
    }
    button {
      font-size: 16px;
      font-weight: 500;
      line-height: 28.51px;
      letter-spacing: -0.035em;
      color: #359740;
      padding: 11px 33px;
      border-radius: 8px;
      border: 1px solid #efefef;
      background: transparent;
      cursor: pointer;
      &:hover {
        background: #f1fff4;
      }
    }
  }
}
